{
	"env": {
		"es2021": true
	},
	"settings": {
		"react": {
			"version": "18.0.1"
		}
	},
	"extends": [
		// "next/core-web-vitals",
		"next",
		"prettier"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"prettier",
		"eslint-plugin-import-helpers",
		"unused-imports"
	],
	"rules": {
		"linebreak-style": [
			"error",
			"unix"
		],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"printWidth": 80,
				"bracket-spacing": true,
				"arrow-parens": "always",
				"tabWidth": 2,
				"useTabs": true,
				"semi": false,
				"trailingComma": "es5",
				"space-before-function-parens": [
					"error",
					"always"
				]
			}
		],
		"react/no-unescaped-entities": "off",
		"@next/next/no-page-custom-font": "off",
		"react/prop-types": 0,
		"@typescript-eslint/no-extra-semi": [
			"off"
		],
		"@typescript-eslint/ban-types": [
			"off"
		],
		"no-console": "error",
		"react/react-in-jsx-scope": "off",
		"import-helpers/order-imports": [
			"warn",
			{
				// example configuration
				"newlinesBetween": "always",
				"groups": [
					[
						"/^react/",
						"/^react-native/"
					],
					"/^vitest/",
					"/^@react/",
					"/^expo/",
					"/^redux/",
					"module",
					"/@\/redux/",
					"/^@\/context/",
					"/^@\/navigations/",
					[
						"/^@\/screens/",
						"/^@\/components/"
					],
					"/^@\/forms/",
					"/^@\/services/",
					[
						"parent",
						"sibling",
						"index"
					],
					[
						"/^@\/assets/",
						"/^@\/hooks/",
						"/^@\/global/"
					],
					"/^@\/utils/"
				],
				"alphabetize": {
					"order": "asc",
					"ignoreCase": true
				}
			}
		],
		"unused-imports/no-unused-imports": "error"
	},
	"ignorePatterns": [
		"coverage",
		".docker",
		"metro.config.js",
		"babel.config.js",
		"node_modules",
		"jest.config.js",
		"next.config.js",
		"source/components/atom/react-date-picker/**/*",
		"styles/**/*"
	]
}