.row-customize {

    p::selection {
        color: aliceblue;
        background-color: #899097;
    }

    th::selection {
        color: aliceblue;
        background-color: #899097;
    }

    td::selection {
        color: aliceblue;
        background-color: #899097;
    }

    h5::selection {
        color: aliceblue;
        background-color: #899097;
    }

    h6::selection {
        color: aliceblue;
        background-color: #899097;
    }

    h4::selection {
        color: aliceblue;
        background-color: #899097;
    }

    span::selection {
        color: aliceblue;
        background-color: #899097;
    }
}