.container {
  background-color: azure;

}

.container-privacy {
  p {
    font-size: 1rem;
    line-height: 2.5rem;
    text-indent: 5rem;
  }

  ::-moz-selection {
    color: white;
    background: #b0b0b0;
  }

  ::selection {
    color: white;
    background: #b0b0b0;
  }
}