

@import './date-picker.css';
@import './globals.css';
@import 'react-modern-drawer/dist/index.css';
@import './assets/scss/backend.scss';
@import './assets/scss/_variable.scss';
@import './assets/css/style.css';
@import './assets/css/all.min.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/animate.min.css';
@import './assets/css/frontend-style.css';
@import './assets/css/responsive.css';
@import './assets/css/slick.css';
@import './assets/css/spacer.css';
@import './assets/css/swiper.css';
@import './assets/css/variable.css';
@import './assets/css/typography.css';
@import './assets/css/variable.css'