.btn-default {
    :hover {
        cursor: pointer;
    }

    :active {
        opacity: 0.5;
    }
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.text-indent-1 {
    text-indent: 1em;
}

.text-indent-2 {
    text-indent: 2em;
}

.text-indent-3 {
    text-indent: 3em;
}